{% extends "base.html" %}
{% block content %}
<form class="upload" action="/vendas/" enctype="multipart/form-data" method="post">
    <div class="field">
        <label for="file_upload" class="label">
            Selecione um arquivo .txt de vendas:
        </label>
        <div class="file has-name is-boxed is-fullwidth">
            <label class="file-label">
                <input class="file-input" type="file" name="file_upload" required>
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Envie um arquivo...
                    </span>
                </span>
                <span class="file-name">
                    Nenhum arquivo selecionado
                </span>
            </label>
        </div>
    </div>
    <div class="field">
        <button class="button is-medium is-success is-fullwidth send-file" type="submit">Enviar</button>
    </div>
</form>
{% endblock %}